<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head(#{site.title})">
    <meta charset="UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <title>Hello</title>
</head>
<body>
<header th:replace="common/header :: header">
    If you see this, it means you have opened this file statically.
</header>
<section class="content">
    <h3>
        Form Example with Validation
    </h3>
    <form action="" method="post" th:action="@{/detail}" th:object="${product}">

        <table>
            <tr>
                <td>
                    Id:
                </td>
                <td>
                    <input th:field="*{id}" />
                </td>
                <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</td>
            </tr>
            <tr>
                <td>
                    Title:
                </td>
                <td>
                    <input th:field="*{title}" />
                </td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
            </tr>
            <tr>
                <td>
                    Quantity:
                </td>
                <td>
                    <input th:field="*{quantity}" />
                </td>
                <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">
                        Save
                    </button>
                </td>
            </tr>
        </table>
    </form>
</section>
<footer th:replace="common/footer :: footer">
    If you see this, it means you have opened this file statically.
</footer>
</body>
</html>